<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature android:name="android.hardware.camera.any" android:required="true"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>

    <application
        android:theme="@style/AppTheme"
        android:label="develop.uganda"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".DevelopUgandaEditorActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DevelopUgandaLiveActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DevelopUgandaFocusAssistCameraActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DevelopUgandaMeteringLockCameraActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DevelopUgandaHorizonCameraActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DevelopUgandaSteadyShotCameraActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DevelopUgandaNightIntelligenceCameraActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DevelopUgandaAllProCameraActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DevelopUgandaAudioGuardCameraActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DevelopUgandaVerifiedCameraActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DevelopUgandaThermalSafeCameraActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DevelopUgandaModeSignatureCameraActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DevelopUgandaAutoDirectorCameraActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DevelopUgandaSocialMediaCameraActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DevelopUgandaCameraActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity
            android:name=".DevelopUgandaNewsroomActivity"
            android:screenOrientation="portrait"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
    </application>
</manifest>
